* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto",sans-serif;
}

.flex-grid {
  display: flex;
}

.col {
  flex: auto;
}

.col-1 {
  flex: 1;
}

.col-0-9 {
  flex: 0.9;
}

.col-0-8 {
  flex: 0.8;
}

.col-0-7 {
  flex: 0.7;
}

.col-0-6 {
  flex: 0.6;
}

.col-0-5 {
  flex: 0.5;
}

.col-0-4 {
  flex: 0.4;
}

.col-0-3 {
  flex: 0.3;
}

.col-0-2 {
  flex: 0.2;
}

.col-0-1 {
  flex: 0.1;
}

.flex-grid .col,
.flex-grid .col-1,
.flex-grid .col-0-9,
.flex-grid .col-0-8,
.flex-grid .col-0-7,
.flex-grid .col-0-6,
.flex-grid .col-0-5,
.flex-grid .col-0-4,
.flex-grid .col-0-3,
.flex-grid .col-0-2,
.flex-grid .col-0-1 {
  margin: 0.5rem;
}

@media (min-width: 60rem) {
  .panel-left {
    flex: 0.3;
  }

  .panel-center {
    flex: 0.6;
  }

  .panel-right {
    flex: 0.3;
  }

  .shorten-form {
    flex-flow: row wrap;
  }

  .header-description {
    padding-bottom: 0.4rem;
    align-self: flex-end;
    text-align: right;
  }

  .click-to-copy-link {
    text-decoration: none;
    color: #F4272F;
    padding-left: 1rem;
    display: none;
    cursor: pointer;
    font-size: .95rem;
  }
}

@media (max-width: 60rem) {
  .url-label-new {
    display: none;
  }

  .panel-left {
    flex: .5;
  }

  .panel-center {
    flex: 1;
  }

  .panel-right {
    flex: .5;
  }

  .shorten-form {
    flex-flow: column wrap;
  }

  .header-description {
    text-align: left;
  }

  .click-to-copy-link {
    text-decoration: none;
    color: #F4272F;
    padding-left: 0;
    display: none;
    cursor: pointer;
  }
}

@media (max-width: 30rem) {
  .panel-left {
    flex: .1;
  }

  .panel-center {
    flex: 1;
  }

  .panel-right {
    flex: .1;
  }

  .click-to-copy-link {
    text-decoration: none;
    color: #F4272F;
    padding-left: 0;
    display: none;
    cursor: pointer;
  }
}

.shorten-header {
  flex-flow: row wrap;
}

.header-description {
  padding-bottom: 0.4rem;
  align-self: flex-end;
  font-size: 0.75rem;
  color: #9a9a9a;
}

.header-title {
  text-decoration: underline;
  color: #F4272F;
  font-size: 2.5rem;
}

.form-input-text {
  background-color: #E9E9E9;
  border-radius: 0.2rem;
  border: 0px;
  height: 2rem;
  padding-left: 1rem;
  color: #5C5B5B !important;
  font-size: 0.75rem;
}

.form-input-submit {
  background-color: #F4272F;
  border-radius: 0.2rem;
  color: white;
  border: 0px;
  height: 2rem;
  font-size: 0.75rem;
  cursor: pointer;
}

.clear-section {
  flex-flow: row wrap;
}

.clear-section-title {
  color: #5C5B5B;
  text-decoration: none;
  font-size: 1.2rem;
  display: table;
  font-weight: 100;
}

.clear-section-link {
  text-decoration: none;
  color: #F4272F;
  padding-top: 0.2rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.padding-top-section {
  padding-top: 2rem;
}

.shorten-list-header {
  font-size: 0.7rem;
  color: #9a9a9a;
}

.shorten-list-item-info {
  text-align: center;
  color: #5C5B5B;
  font-size: .85rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.align-center {
  text-align: center;
}

.url-content-links {
  padding-bottom: .2rem;
}

.url-content-links:hover .click-to-copy-link {
  display: inline-block;
}

.url-shorten-link {
  text-decoration: none;
  color: #F4272F;
  font-size: .85rem;
}

.url-shorten-link:hover + .click-to-copy-link {
  display: initial;
}
    
.url-extended-link {
  color: #c5c5c5;
  font-size: 0.85rem;
}

.url-domain-link {
  color: #5C5B5B;
  text-decoration: none;
  font-size: .85rem;
}

.error-panel {
  border-radius: 0.2rem;
  background-color: #ffb9b9;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #5C5B5B;
}

.error-panel-message {
  width: 100%;
  font-size: .85rem;
  padding-top: .25rem;
}

.error-panel-close {
  justify-content: flex-end;
  font-size: .9rem;
  padding-top: .1rem;
}

.loading-panel {
  background-color: #E9E9E9;
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #5C5B5B;
  border-radius: 0.2rem;
}

.loading-panel-message {
  width: 100%;
  font-size: .85rem;
  padding-top: .25rem;
}

.url-label-new {
  margin-left: 1rem;
  padding-top: .1rem;
  padding-bottom: .1rem;
  padding-left: .2rem;
  font-size: 0.7rem;
  background-color: #F4272F;
  padding-right: .2rem;
  color: white;
  border-radius: .2rem;
}